<%= form_for(@hamburger) do |f| %>
  <% if @hamburger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hamburger.errors.count, "error") %> prohibited this hamburger from being saved:</h2>

      <ul>
      <% @hamburger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_field :ingredients %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
