<h1>Listing hamburgers</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Price</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hamburgers.each do |hamburger| %>
  <tr>
    <td><%= hamburger.description %></td>
    <td><%= hamburger.ingredients %></td>
    <td><%= hamburger.price %></td>
    <td><%= hamburger.order %></td>
    <td><%= link_to 'Show', hamburger %></td>
    <td><%= link_to 'Edit', edit_hamburger_path(hamburger) %></td>
    <td><%= link_to 'Destroy', hamburger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hamburger', new_hamburger_path %>
