<h1>Listing cardapios</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th>Json</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cardapios.each do |cardapio| %>
  <tr>
    <td><%= cardapio.url %></td>
    <td><%= cardapio.description %></td>
    <td><%= cardapio.json %></td>
    <td><%= cardapio.order %></td>
    <td><%= link_to 'Show', cardapio %></td>
    <td><%= link_to 'Edit', edit_cardapio_path(cardapio) %></td>
    <td><%= link_to 'Itens', cardapio_items_path(:cardapio => cardapio.id) %></td>
    <td><%= link_to 'Destroy', cardapio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cardapio', new_cardapio_path %>
